<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoolai.bi.mapper.InstallIncomeMapper">

    <select id="queryInstallIncomes" resultType="com.hoolai.bi.entiy.income.InstallIncomeRate">
        SELECT
        t_1.ds ds,install_num,gameid,snid,income_day,income
        FROM
        ( SELECT ds,install_num FROM daily_stats WHERE gameid = #{gameId} AND ds >=#{startDs} AND ds &lt;=#{endDs} ) t_1
        left JOIN (
        SELECT
        ds,
        gameid,
        snid,
        install_ds,
        DATEDIFF( ds, install_ds ) income_day,
        SUM( income ) income
        FROM
        install_income_ratio
        WHERE
        gameid = #{gameId}
        AND install_ds >=#{startDs}
        AND install_ds &lt;=#{endDs}
        AND ds >= install_ds
        AND ds &lt;= DATE_ADD(install_ds,INTERVAL 29 DAY)
        AND ds &lt;=#{endDs}
        GROUP BY
        install_ds,
        ds,snid,gameid
        ) t_2 ON t_1.ds = t_2.install_ds

    </select>
</mapper>