<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoolai.bi.wxadmin.mapper.RetentionOsCreativeDeviceMapper">

    <sql id="share">
        ds,dr,os,creative,ROUND(retention/install_num*100,2 ) as retentionPercentages
    </sql>

    <select id="queryRetentionOsCreativeDeviceList" resultType="com.hoolai.bi.entiy.retention.ShareRetentionResultType">
        select <include refid="share"></include>
        from (select gameid,(DATE_SUB(ds,INTERVAL dr DAY)) as ds, os, creative,dr,retention from retention_os_creative_device where (gameid = #{gameid} and ds >= DATE_SUB(curdate(),INTERVAL #{data} DAY))) p
        left join (select * from daily_os_creative_stats_device where (gameid = #{gameid} and ds >= DATE_SUB(curdate(),INTERVAL #{data} DAY))) b
        USING (gameid,ds,os,creative) where (ds >= DATE_SUB(curdate(),INTERVAL #{data} DAY))
        <where>
            <if test="osType != null and osType != '' and osType != '0'.toString()">
                os = #{osType}
            </if>
            <if test="ccNum != null and ccNum != '' and ccNum != '0'.toString()">
                and creative = #{ccNum}
            </if>
        </where>
        ORDER BY ds desc,dr asc
    </select>
</mapper>