<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoolai.bi.mapper.RetentionCreativeMapper">

    <sql id="share">
        ds,dr,retention
    </sql>

    <select id="queryRetentionCreative" resultType="com.hoolai.bi.entiy.retention.ShareCreativeRetention">
        SELECT t_1.gameid,t_1.snid,t_3.retention,t_3.ds,t_1.install_num,t_3.dr,t_3.creative ,ROUND(t_3.retention/t_1.install_num,4) retentionPercentages
        from
        (SELECT gameid,snid,ds,creative,SUM(install_num) install_num FROM daily_os_creative_stats WHERE ds>=#{startDs} and ds&lt;=#{endDs}	AND gameid=#{gameId} GROUP BY gameid,snid,ds,creative) t_1
        JOIN
        (SELECT ds,dr,retention,creative FROM(
        SELECT DATE_SUB(ds,INTERVAL dr DAY) ds,dr,SUM(retention) retention,creative
        FROM
        retention_os_creative
        WHERE
        gameid=#{gameId}
        AND
        ds>=#{startDs}
        and ds&lt;=#{endDs}
				GROUP BY ds,dr,creative) t_2) t_3 ON t_1.ds=t_3.ds AND t_1.creative=t_3.creative
        ORDER BY ds,dr
    </select>

</mapper>