<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoolai.bi.mapper.TimeDistributionMapper">

    <select id="queryHourDau" resultType="com.hoolai.bi.entiy.time.TimeDistribution">

SELECT
	snid,gameid,ds,h as hour,nums
FROM
	hour_dau
WHERE
	snid = #{snid}
	AND gameid = #{gameId} AND ds>=#{startDs}
        and ds&lt;=#{endDs}
</select>
    <select id="queryHourInstall" resultType="com.hoolai.bi.entiy.time.TimeDistribution">
SELECT
	snid,gameid,ds,h as hour,nums
FROM
	hour_install
WHERE
	snid = #{snid}
	AND gameid = #{gameId} AND ds>=#{startDs}
        and ds&lt;=#{endDs}
</select>
</mapper>